{
    "language": "{{ le_dns_hetzner_language }}",
    "dns_servers": [
        {{ le_dns_hetzner_dns_servers }}
    ],
    "zone_ids_updated": "",
    "zone_ids": {
    },
    "debug": {{ le_dns_hetzner_debug|lower }}
}